node_modules
dist
*.log
.env 
uploads/

#ignore virusTotal related files and folders
/utils/getScanReportWithPolling.mjs
/services/virus-scan.mjs
/utils/uploadToVirusTotal.mjs

#testfiles
frontend/src/components/TestComponent.jsx
src/test-run-db.mjs